/* Base styles are reset in ./reset.css */

/* Set CSS variables to reuse throughout website */
:root{
  --theme-accent: #218AFF; /* Primary accent / font colour */
  --theme-bg-color: rgb(16,16,16); /* Primary background colour */
  --theme-bg-color-secondary: rgb(32,32,32); /* Secondary background colour */
  --container-width: 100%;/* Global default width for containers */
  --container-width-medium:75%;
  --container-width-desktop: 960px;/* Global default width for containers */
}

/* Adds smooth scrolling for anchor links */
html {
	scroll-behavior: smooth;
}

/* Set body styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--theme-bg-color);
  color:#fff;
  width:var(--container-width);
  margin:0 auto;
}

/* Default link style */
a {
  color:#fff;
  text-decoration: none; /* Removes underline from links */
}
/* Main container for website */
.flex-container {
  display:flex; /* Set display to flexbox */
  flex-direction: column; /* Sets column layout */
}

/* Header styling */
#heading-section {
  display:flex; /* Set display to flexbox */
  justify-content: space-between; /* Flex items evenly distributed (but first item pegged to start, last to end */
  width:100%; /* Fixed width */
  margin:0 auto;/* Position the header center within parent container  */
  align-items: center; /* Flex items are aligned center */
  background-color: var(--theme-bg-color-secondary)

}

/* Navigation menu styling */
#navigation {
	display: flex;
	justify-content: space-between; /* Position flex items horizontally */
	align-items: center; /* Position flex items vertically */
}

/* Target each li item for navigation */
#navigation li {
	flex-shrink: 0; /* Prevent flex items from shrinking */
	flex-grow: 1;
	text-align: center;
}

#navigation li:hover{
  background-color:var(--theme-accent)
}

#navigation li a {
  display:block;
  padding: 1em 0;
}

.logo, nav {
  flex:1
}

.logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 30px 0 0 92px;
}

#hero-section {
  width:100%; /* Fixed width */
  height:300px;
  margin:30px auto; /* Position the header center within parent container  */
  background-image: url("../images/hero-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative
}

#hero-section > p {
	position: absolute;
	bottom: 1em;
	right: 0;
	display: block;
	background-color: var(--theme-accent);
	padding: 15px 5px 14px 30px;
	font-size: 1.4em;
}

#about-section, #portfolio-section, #contact-section {
	display: flex;
  flex-direction: column;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	border-top: 8px solid var(--theme-accent);
  background-color: var(--theme-bg-color-secondary);
}

.section-title {
	font-size: 30px;
  width:70%;
  background-color:var(--theme-accent);
  margin:1em 0;
  text-indent: 10px;
}

.about-card-description p{
  line-height: 1em;
  margin-bottom: 1em;
  padding:0 20px
}

#portfolio-items {
	width: var(--container-width);
	margin: 0 auto;  
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "portfolio-item1 portfolio-item1"
    "portfolio-item1 portfolio-item1"
    "portfolio-item2 portfolio-item3"
    "portfolio-item4 portfolio-item5";
  gap:1em
}

.portfolio-item {
  min-height:200px;
  background-size:contain;
  position: relative;
}

.portfolio-item img {
  max-width:100%;
  opacity: 0.7;
  height:100%;
  transition: all 0.2s ease-in-out;
}

.portfolio-item:hover img {
  opacity: 1;
}

.portfolio-item1 {
  grid-area: portfolio-item1;

}
.portfolio-item2 {
  grid-area: portfolio-item2;
}
.portfolio-item3 {
  grid-area: portfolio-item3
}
.portfolio-item4 {
  grid-area: portfolio-item4;
}
.portfolio-item5 {
  grid-area: portfolio-item5;
}

.portfolio-item:nth-child(n+2) .portfolio-info {
  width:75%
}
.portfolio-info {
	position: absolute;
	background-color: var(--theme-bg-color);
	bottom: 2em;
	right: 0;
	text-align: right;
	width: 50%;
	color: #fff;
	padding: 20px;
	opacity: 0.96;
  border: 3px solid var(--theme-accent);
  border-right:none
}

.portfolio-info h3 {
  font-size:1.3em;
}

#contact-section .contact-details{
  display:flex;
  justify-content: space-around;
  flex:1;
  align-items:center
}


.about-card-description,#portfolio-items,.contact-details {
  flex: 1
}

#contact-section a {
  color: var(--theme-accent)
}

#contact-section a:hover {
  text-decoration: underline;
}

/* CSS Media Query */
/* Target medium / tablet displays */
@media screen and (min-width:768px) {
  body {
    width:var(--container-width-medium);
  }

  #about-section, #portfolio-section, #contact-section {
    flex-direction: row;
    margin-top: 30px;
    padding: 34px 20px 34px 0;
  }  

  .section-title {
    font-size:30px;
    width:140px;
    text-align: right;
    line-height: 1em;
    padding: 0 15px;
    border-right: 2px solid var(--theme-accent);
    margin-right: 20px;
    background-color: initial;
    margin:0
  }


}

/* Target large / desktop displays */
@media screen and (min-width:992px) {
  body {
    width:var(--container-width-desktop);
  }

  #portfolio-items {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "portfolio-item1 portfolio-item1"
      "portfolio-item1 portfolio-item1"
      "portfolio-item2 portfolio-item3"
      "portfolio-item4 portfolio-item5";
  }  

  .section-title {
    font-size: 60px;
    text-align: right;
    line-height: 1em;
    padding: 0 15px;
    border-right: 2px solid var(--theme-accent);
    margin-right: 20px;
    width: 254px;
  }
}  
}